In [2]:
import pandas as pd
import numpy as np
import os

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
%cd /content/drive/MyDrive/Colab\ Notebooks/skema/ASKEM\ Grounding\ Annotations/
!ls

/content/drive/MyDrive/Colab Notebooks/skema/ASKEM Grounding Annotations
grounding_extractions_documents_5Febbuckymodel_webdocs--COSMOS-data.xlsx
grounding_extractions_documents_5FebCHIME_SIR--COSMOS-data.xlsx
grounding_extractions_documents_5FebCHIME_SVIIvR--COSMOS-data.xlsx
grounding_extractions_documents_5Febs00285-015-0906-z--COSMOS-data.xlsx

In [5]:
path = "/content/drive/MyDrive/Colab Notebooks/skema/ASKEM Grounding Annotations"
files = [os.path.join(path, file) for file in os.listdir(path)]
files

['/content/drive/MyDrive/Colab Notebooks/skema/ASKEM Grounding Annotations/grounding_extractions_documents_5FebCHIME_SVIIvR--COSMOS-data.xlsx',
 '/content/drive/MyDrive/Colab Notebooks/skema/ASKEM Grounding Annotations/grounding_extractions_documents_5Febbuckymodel_webdocs--COSMOS-data.xlsx',
 '/content/drive/MyDrive/Colab Notebooks/skema/ASKEM Grounding Annotations/grounding_extractions_documents_5Febs00285-015-0906-z--COSMOS-data.xlsx',
 '/content/drive/MyDrive/Colab Notebooks/skema/ASKEM Grounding Annotations/grounding_extractions_documents_5FebCHIME_SIR--COSMOS-data.xlsx']

In [74]:
label_counts = {}
role_based_counts = {}
candidate_counts = {}
unique_text_counts = {}
tot_text_counts = {}
for file in files:
  df = pd.read_excel(file)
  df['Text'] = df['Text'].fillna("NA")
  df['Role'] = df['Role'].fillna("NA")
  df['Context'] = df['Context'].fillna("NA")
  df['Annotation'] = df['Annotation'].fillna("")
  # df['Identified_type'] = df['Identified_type'].fillna("")
  # df['Comments'] = df['Comments'].fillna("")
  prev_text = ""
  prev_role = ""
  prev_context = ""
  for index, this_row in df.iterrows():
    this_row_list = this_row.values.tolist()
    if this_row['Text'] != "NA" and this_row['Role'] != "NA" and this_row['Context'] != "NA":
      prev_text = this_row['Text']
      prev_role = this_row['Role']
      prev_context = this_row['Context']
    else:
      df.at[index, 'Text'] = prev_text
      df.at[index, 'Role'] = prev_role
      df.at[index, 'Context'] = prev_context
  print("*********For %s, the label counts are "%(file))
  gp = df.groupby(["Annotation"]).count().reset_index()
  gp = gp.rename(columns={"Annotation":"Annotation Label", "Text":"# Count"})
  gp.at[0,"Annotation Label"] = "None"
  label_counts[file] = gp[["Annotation Label", "# Count"]]

  gp = df.groupby(["Role", "Annotation"]).count().reset_index()
  gp = gp.rename(columns={"Annotation":"Annotation Label", "Text":"# Count"})
  role_based_counts[file] = gp[["Role","Annotation Label", "# Count"]]

  candidate_counts[file] = len(df["Candidate ID"].unique())
  unique_text_counts[file] = len(df["Text"].unique())
  tot_text_counts[file] = len(df)

*********For /content/drive/MyDrive/Colab Notebooks/skema/ASKEM Grounding Annotations/grounding_extractions_documents_5FebCHIME_SVIIvR--COSMOS-data.xlsx, the label counts are
*********For /content/drive/MyDrive/Colab Notebooks/skema/ASKEM Grounding Annotations/grounding_extractions_documents_5Febbuckymodel_webdocs--COSMOS-data.xlsx, the label counts are
*********For /content/drive/MyDrive/Colab Notebooks/skema/ASKEM Grounding Annotations/grounding_extractions_documents_5Febs00285-015-0906-z--COSMOS-data.xlsx, the label counts are
*********For /content/drive/MyDrive/Colab Notebooks/skema/ASKEM Grounding Annotations/grounding_extractions_documents_5FebCHIME_SIR--COSMOS-data.xlsx, the label counts are

In [72]:
candidate_counts

{'/content/drive/MyDrive/Colab Notebooks/skema/ASKEM Grounding Annotations/grounding_extractions_documents_5FebCHIME_SVIIvR--COSMOS-data.xlsx': 74,
 '/content/drive/MyDrive/Colab Notebooks/skema/ASKEM Grounding Annotations/grounding_extractions_documents_5Febbuckymodel_webdocs--COSMOS-data.xlsx': 1023,
 '/content/drive/MyDrive/Colab Notebooks/skema/ASKEM Grounding Annotations/grounding_extractions_documents_5Febs00285-015-0906-z--COSMOS-data.xlsx': 1138,
 '/content/drive/MyDrive/Colab Notebooks/skema/ASKEM Grounding Annotations/grounding_extractions_documents_5FebCHIME_SIR--COSMOS-data.xlsx': 1040}

In [73]:
unique_text_counts

{'/content/drive/MyDrive/Colab Notebooks/skema/ASKEM Grounding Annotations/grounding_extractions_documents_5FebCHIME_SVIIvR--COSMOS-data.xlsx': 8,
 '/content/drive/MyDrive/Colab Notebooks/skema/ASKEM Grounding Annotations/grounding_extractions_documents_5Febbuckymodel_webdocs--COSMOS-data.xlsx': 294,
 '/content/drive/MyDrive/Colab Notebooks/skema/ASKEM Grounding Annotations/grounding_extractions_documents_5Febs00285-015-0906-z--COSMOS-data.xlsx': 555,
 '/content/drive/MyDrive/Colab Notebooks/skema/ASKEM Grounding Annotations/grounding_extractions_documents_5FebCHIME_SIR--COSMOS-data.xlsx': 377}

In [75]:
tot_text_counts

{'/content/drive/MyDrive/Colab Notebooks/skema/ASKEM Grounding Annotations/grounding_extractions_documents_5FebCHIME_SVIIvR--COSMOS-data.xlsx': 166,
 '/content/drive/MyDrive/Colab Notebooks/skema/ASKEM Grounding Annotations/grounding_extractions_documents_5Febbuckymodel_webdocs--COSMOS-data.xlsx': 4611,
 '/content/drive/MyDrive/Colab Notebooks/skema/ASKEM Grounding Annotations/grounding_extractions_documents_5Febs00285-015-0906-z--COSMOS-data.xlsx': 11673,
 '/content/drive/MyDrive/Colab Notebooks/skema/ASKEM Grounding Annotations/grounding_extractions_documents_5FebCHIME_SIR--COSMOS-data.xlsx': 6267}

In [51]:
for k,v in label_counts.items():
  print(k)
  print(v)

/content/drive/MyDrive/Colab Notebooks/skema/ASKEM Grounding Annotations/grounding_extractions_documents_5FebCHIME_SVIIvR--COSMOS-data.xlsx
  Annotation Label  # Count
0             None      165
1                X        1
/content/drive/MyDrive/Colab Notebooks/skema/ASKEM Grounding Annotations/grounding_extractions_documents_5Febbuckymodel_webdocs--COSMOS-data.xlsx
  Annotation Label  # Count
0             None     4169
1                G      310
2                X      132
/content/drive/MyDrive/Colab Notebooks/skema/ASKEM Grounding Annotations/grounding_extractions_documents_5Febs00285-015-0906-z--COSMOS-data.xlsx
  Annotation Label  # Count
0             None    11673
/content/drive/MyDrive/Colab Notebooks/skema/ASKEM Grounding Annotations/grounding_extractions_documents_5FebCHIME_SIR--COSMOS-data.xlsx
  Annotation Label  # Count
0             None     6068
1                G      153
2                X       46

In [60]:
for k,v in role_based_counts.items():
  print(k)
  print(v)
  f = "role_based_counts_"+k.split("5Feb")[1].split("--")[0]+".csv"
  v.to_csv(os.path.join(path, f))

/content/drive/MyDrive/Colab Notebooks/skema/ASKEM Grounding Annotations/grounding_extractions_documents_5FebCHIME_SVIIvR--COSMOS-data.xlsx
          Role Annotation Label  # Count
0      context                        29
1      context                X        1
2  description                        30
3        input                        45
4       output                        45
5     variable                        16
/content/drive/MyDrive/Colab Notebooks/skema/ASKEM Grounding Annotations/grounding_extractions_documents_5Febbuckymodel_webdocs--COSMOS-data.xlsx
           Role Annotation Label  # Count
0       context                      3062
1       context                G      160
2       context                X       55
3   description                       355
4   description                G       50
5   description                X       34
6         input                       118
7         input                G       38
8         input                X        8
9    modelDescr                        43
10   modelDescr                G       30
11   modelDescr                X        6
12    modelName                        46
13    modelName                G       20
14    modelName                X        7
15       output                       124
16       output                G        6
17       output                X        6
18         unit                        14
19         unit                G        1
20        value                        28
21     variable                       379
22     variable                G        5
23     variable                X       16
/content/drive/MyDrive/Colab Notebooks/skema/ASKEM Grounding Annotations/grounding_extractions_documents_5Febs00285-015-0906-z--COSMOS-data.xlsx
          Role Annotation Label  # Count
0      context                      4585
1  description                      2878
2        input                       224
3   modelDescr                        46
4    modelName                        34
5       output                       161
6         unit                       131
7        value                       125
8     variable                      3489
/content/drive/MyDrive/Colab Notebooks/skema/ASKEM Grounding Annotations/grounding_extractions_documents_5FebCHIME_SIR--COSMOS-data.xlsx
           Role Annotation Label  # Count
0       context                      4223
1       context                G       81
2       context                X       14
3   description                       402
4   description                G       24
5   description                X       12
6         input                       297
7         input                G       23
8         input                X        7
9    modelDescr                        19
10    modelName                        41
11    modelName                G        3
12    modelName                X        1
13       output                       274
14       output                G        4
15       output                X        4
16         subj                         3
17         unit                        98
18         unit                G        7
19        value                        51
20     variable                       654
21     variable                G       11
22     variable                X        8
23         verb                         6

In [57]:
k.split("5Feb")[1].split("--")[0]

['CHIME_SIR', 'COSMOS-data.xlsx']

In [22]:
df

,Text,Role,Context,Candidate ID,Candidate Text,Score,Annotation,Comments,Identified_type
0,with 4 rates,context,"with 4 rates : beta , vr , vs , gamma .",vo:0011326,CEL-170/4,0.697643,,,
1,with 4 rates,context,"with 4 rates : beta , vr , vs , gamma .",cemo:rate_of_cases_with_at_least_one_comorbidity,rate of cases with at least one comorbidity,0.688985,,,
2,with 4 rates,context,"with 4 rates : beta , vr , vs , gamma .",cemo:device-specific_rates_and_procedure-speci...,device-specific rates and procedure-specific r...,0.679862,,,
3,with 4 rates,context,"with 4 rates : beta , vr , vs , gamma .",vo:0004936,human age 4 to 6 years at vaccination,0.660809,,,
4,with 4 rates,context,"with 4 rates : beta , vr , vs , gamma .",apollosv:00000424,mean with confidence interval,0.653300,,,
...,...,...,...,...,...,...,...,...,...
161,gamma1,output,"Now we have 7 rates : beta1 , beta2 , vs1 , vs...",vo:0011186,ExbB,0.607519,,,
162,gamma1,output,"Now we have 7 rates : beta1 , beta2 , vs1 , vs...",vo:0002822,B. abortus and B. melitensis mutants with unma...,0.602673,,,
163,gamma1,output,"Now we have 7 rates : beta1 , beta2 , vs1 , vs...",vo:0002814,B. abortus and B. melitensis mutants with unma...,0.602673,,,
164,gamma1,output,"Now we have 7 rates : beta1 , beta2 , vs1 , vs...",vo:0002810,B. abortus and B. melitensis mutants with unma...,0.602673,,,
165,gamma1,output,"Now we have 7 rates : beta1 , beta2 , vs1 , vs...",vo:0011080,CWP2,0.600769,,,

In [46]:
gp = df.groupby(["Text", "Annotation"]).count().reset_index()
gp

,Text,Annotation,Role,Context,Candidate ID,Candidate Text,Score,Unnamed: 7
0,2023-01-14 00:00:00,,6,6,6,6,6,0
1,#ofdailycontactsperpatient) P,,7,7,7,7,7,0
2,14 days of self-quarantine,,15,15,15,15,15,0
3,5% of infected people,,14,14,14,14,14,0
4,5% of infected people,G,1,1,1,1,1,0
...,...,...,...,...,...,...,...,...
480,within your hospital,G,4,4,4,4,4,0
481,within your hospital,X,1,1,1,1,1,0
482,without interventions,,15,15,15,15,15,0
483,without their permission,,6,6,6,6,6,0
484,without you needing,,15,15,15,15,15,0

In [47]:
gp = df.groupby(["Role", "Annotation"]).count().reset_index()
gp

,Role,Annotation,Text,Context,Candidate ID,Candidate Text,Score,Unnamed: 7
0,context,,4223,4223,4223,4223,4223,4
1,context,G,81,81,81,81,81,0
2,context,X,14,14,14,14,13,0
3,description,,402,402,402,402,402,0
4,description,G,24,24,24,24,24,0
5,description,X,12,12,12,12,11,0
6,input,,297,297,297,297,297,0
7,input,G,23,23,23,23,23,0
8,input,X,7,7,6,7,7,0
9,modelDescr,,19,19,19,19,19,0
10,modelName,,41,41,41,41,41,0
11,modelName,G,3,3,3,3,3,0
12,modelName,X,1,1,1,1,1,0
13,output,,274,274,274,274,274,0
14,output,G,4,4,4,4,4,0
15,output,X,4,4,4,4,4,0
16,subj,,3,3,3,3,3,0
17,unit,,98,98,98,98,98,0
18,unit,G,7,7,7,7,7,1
19,value,,51,51,51,51,51,0
20,variable,,654,654,654,654,654,0
21,variable,G,11,11,11,11,10,0
22,variable,X,8,8,8,8,5,0
23,verb,,6,6,6,6,6,0

In [36]:
print("*********For %s, the label counts are "%(files[0]))
gp = df.groupby(["Annotation"]).count().reset_index()
gp = gp.rename(columns={"Annotation":"Annotation Label", "Text":"# Count"})
gp.at[0,"Annotation Label"] = "None"
gp[["Annotation Label", "# Count"]]

*********For /content/drive/MyDrive/Colab Notebooks/skema/ASKEM Grounding Annotations/grounding_extractions_documents_5FebCHIME_SVIIvR--COSMOS-data.xlsx, the label counts are

  Annotation Label  # Count
0             None      165
1                X        1